body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.projectDiv{
  color: "grey";
  margin-bottom: "30px"
}

.footerDiv, .project{
  text-align: center;
  
}

.jumbotron{
  margin-top: 30px;
}

.jumboColor{
  background-color: grey;
}

.projectText{
  color: white;
  text-align: center;
  margin-bottom: 50px;
  
}
.abtMe{
  margin-bottom: 50px;
  text-align: center;
}

.captions, .itemCarousel{
  display: flex;
  flex-direction: row;
}

.pic{
  margin-bottom: 200px;
}

.codeClass{
  font-size: 60pt;
  text-align: center;
  align-items: center;
  color: white;
}